// font family
$codePro: 'Source Code Pro', monospace;
$sansPro: 'Source Sans Pro', sans-serif;


// font size
$tiny: 13px;
$smal: 18px;
$normal: 24px;
$medium: 36px;
$large: 55px;

//media player
$sm: 400px;
$md:760px;
$xl:920px;
$xxl:1400px;
$xxxl: 2000px;
// color
$grey:grey